{% extends "backend/form.html" %}
{% block layout_header %}{% endblock %}
{% block layout_content %}
    <div class="sidebar-container" style="width: auto; height: 100%;" id="app">
        <ul class="nav nav-tabs navs-3">
            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">庫存</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">入庫</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">出庫</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                {% if no_record_data %}
                <div class="sidebar-title">
                    <h3>您尚未儲存產品</h3>
                    <small>請先點擊，產品編輯畫面上方的「建立並繼續編輯」進行儲存。</small>
                </div>
                {% endif %}
                {% if no_spec_data %}
                <div class="sidebar-title">
                    <h3>無法取得規格資料</h3>
                    <small>無法取得規格資料，或是規格資料的格式有錯誤，請參考下例範例進行填寫。</small>
                </div>
                <ul style="list-style: none; margin-top: 18px;">
                    <li style="margin-bottom: 10px;">顏色:紅色,綠色,黃色</li>
                    <li style="margin-bottom: 10px;">大小:大,中,小</li>
                    <li style="margin-bottom: 10px;">尺寸:S號,L,M,特大號</li>
                    <li style="margin-bottom: 10px;">重量:300g,500g,600g</li>
                </ul>
                {% endif %}
                {% if has_record %}
                <div class="sidebar-title">
                    <h3>{{ product.title }}</h3>
                    <small>應有 {{ total }} 種規格，目前共有 {{ len_records }} 種。</small>
                    {% if need_update %}下列為需要新增的規格，<ul>{% for item in need_to_insert_spec_items %}
                        <li>{{ item }}</li>
                    {% endfor %}</ul><a href="{{ update_url }}" target="aside_iframe" class="btn">更新</a>{% endif %}
                </div>
                <ul class="sidebar-list">
                    {% for item in spec_records %}{% if item.is_low_stock_level %}
                    <li style="border-bottom: none;">
                        <a href="{{ uri_action_link('edit', item=item) }}" target="aside_iframe">
                            <div class="small pull-right m-t-xs moment-from-now" data-from-now="{{ print_value(item.modified) }}"></div>
                            <h4 id="spec-name-{{ print_key(item) }}">{{ item.spec_full_name }}</h4>
                            <div class="small text-muted m-t-xs">庫存： {{ item.p_quantity }}%
                                ( {{ item.quantity }} / {{ item.last_in_quantity }} )</div>
                            <div class="progress progress-mini">
                                <div style="width: {{ item.p_quantity }}%;" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>
                    {% endif %}{% endfor %}
                </ul>
                <ul class="sidebar-list">
                    {% for item in spec_records %}{% if not item.is_low_stock_level %}
                    <li style="border-bottom: none;">
                        <a href="{{ uri_action_link('edit', item=item) }}" target="aside_iframe">
                            <div class="small pull-right m-t-xs moment-from-now" data-from-now="{{ print_value(item.modified) }}"></div>
                            <h4 id="spec-name-{{ print_key(item) }}">{{ item.spec_full_name }}</h4>
                            <div class="small text-muted m-t-xs">庫存： {{ item.p_quantity }}%
                                ( {{ item.quantity }} / {{ item.last_in_quantity }} )</div>
                            <div class="progress progress-mini">
                                <div style="width: {{ item.p_quantity }}%;" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>
                    {% endif %}{% endfor %}
                </ul>
                {% endif %}
            </div>
            <div id="tab-2" class="tab-pane">
                <form method="POST" action="{{ uri_action_link('stock_in') }}"
                      data-return-encoding="{{ scaffolding.form_return_encoding }}"
                      enctype="{{ scaffolding.form_encoding }}" accept-charset="UTF-8"
                      target="iframeForm" role="form" id="in-warehouse">
                <div class="sidebar-title">
                    <h4>入庫倉庫</h4>
                    <select name="warehouse" class="form-control" id="in-warehouse-select" v-model="in_warehouse">{% for item in warehouse %}
                        <option value="{{ print_key(item) }}">{{ item.title }}</option>
                    {% endfor %}</select>
                    <h4>入庫摘要</h4>
                    <textarea name="remake" class="form-control"></textarea>
                    <div style="height: 22px;margin: 6px 0 0 0;">
                        {% if has_record %}
                        <a id="btn-in-warehouse" class="btn brand-bg-color pull-right" style="color: #fff;">入庫</a>
                        {% else %}
                        <span class="btn pull-right" style="color: #aaa;">目前無法使用</span>
                        {% endif %}
                    </div>
                    <input type="hidden" name="op-type" value="product" />
                    <input type="hidden" name="length" value="{{ len_records }}" />
                </div>

                <div style="margin-bottom: 30px;" id="out-warehouse-spec-area" v-for="item in spec">
                    <div class="form-group form-group-name filed-group" v-if="item.warehouse.__key__ == in_warehouse">
                        <label class="col-xs-12 control-label" :for="'spec-' + item.key">
                             <div class="small pull-right" style="font-weight: 100;">庫存: {{item.quantity}}</div>
                            {{item.spec_full_name}}
                        </label>
                        <div class="col-xs-12 ">
                            <input type="hidden" :name="'sku-key-' + item.index" :value="item.key">
                            <input type="number" :name="'sku-quantity-' + item.index" :id="'spec-' + item.key"
                                   class="form-control field-control field-type-string-field" min="0"
                                   value="0">
                        </div>
                    </div>
                </div>
                <br style="clear: both;">
                </form>
            </div>
            <div id="tab-3" class="tab-pane">
                <form method="POST" action="{{ uri_action_link('stock_out') }}"
                      data-return-encoding="{{ scaffolding.form_return_encoding }}"
                      enctype="{{ scaffolding.form_encoding }}" accept-charset="UTF-8"
                      target="iframeForm" role="form" id="out-warehouse">
                <div class="sidebar-title">
                    <h4>出庫倉庫</h4>
                    <select name="warehouse" class="form-control" id="out-warehouse-select" v-model="out_warehouse">{% for item in warehouse %}
                        <option value="{{ print_key(item) }}">{{ item.title }}</option>
                    {% endfor %}</select>
                    <h4>出庫摘要</h4>
                    <textarea name="remake" class="form-control"></textarea>
                    <div style="height: 22px;margin: 6px 0 0 0;">
                        {% if has_record %}
                        <a id="btn-out-warehouse" class="btn brand-bg-color pull-right" style="color: #fff;">出庫</a>
                        {% else %}
                        <span class="btn pull-right" style="color: #aaa;">目前無法使用</span>
                        {% endif %}
                    </div>
                    <input type="hidden" name="op-type" value="product" />
                    <input type="hidden" name="length" value="{{ len_records }}" />
                </div>

                <div style="margin-bottom: 30px;" id="out-warehouse-spec-area" v-for="item in spec">
                    <div class="form-group form-group-name filed-group" v-if="item.warehouse.__key__ == out_warehouse">
                        <label class="col-xs-12 control-label" :for="'spec-' + item.key">
                             <div class="small pull-right" style="font-weight: 100;">庫存: {{item.quantity}}</div>
                            {{item.spec_full_name}}
                        </label>
                        <div class="col-xs-12 ">
                            <input type="hidden" :name="'sku-key-' + item.index" :value="item.key">
                            <input type="number" :name="'sku-quantity-' + item.index" :id="'spec-' + item.key"
                                   class="form-control field-control field-type-string-field" min="0"
                                    :max="item.quantity" value="0">
                        </div>
                    </div>
                </div>
                <br style="clear: both;">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_actions %}{% endblock %}
{% block layout_buttons %}{% endblock %}
{% block layout_scripts %}

<script type="text/javascript">
    (function(page){
        page['app'] = new Vue({
            el: '#app',
            data: {
                spec: [],
                out_warehouse: "",
                in_warehouse: ""
            }
        });
        $("#btn-in-warehouse").click(function(){
            saveForm("#in-warehouse", backend.aside_iframe.reload);
        });
        $("#btn-out-warehouse").click(function(){
            saveForm("#out-warehouse", backend.aside_iframe.reload);
        });
        {% if has_record %}
        page['load_warehouse_detail'] = function(warehouse){
            if (warehouse === "undefined" || typeof warehouse === "undefined") return;
            json_async("{{ uri_action_link('get_warehouse_detail') }}",
                    "product={{ print_key(product) }}&warehouse=" + warehouse, function(result){
                var data = result.data;
                $.map(data, function(item, i){
                    item.index = i;
                    item.ni_key = item.__key__;
                    item.key = item.sku.__key__;
                    item.spec_full_name = $("#spec-name-" + item.key).text();
                    let is_find = -1;
                    for(let j=0;j<page['app']["spec"].length;j++){
                        if (page['app']["spec"][j].ni_key == item.ni_key){
                            is_find = j;
                        }
                    }
                    if (is_find >= 0){
                        page['app']["spec"][is_find] = item;
                    }else{
                        page['app']["spec"].push(item);
                    }
                });
            });
        };
        $("#out-warehouse-select").change(function(){
            page['load_warehouse_detail']($("#out-warehouse-select option:selected").val());
        });
        $("#in-warehouse-select").change(function(){
            page['load_warehouse_detail']($("#in-warehouse-select option:selected").val());
        });
        setTimeout(function () {
            page['app'].in_warehouse = $("#in-warehouse-select option").last().val();
            page['app'].out_warehouse = $("#out-warehouse-select option").last().val();
            $("#in-warehouse-select option").last().prop("selected", true);
            $("#out-warehouse-select option").last().prop("selected", true);
            page['load_warehouse_detail']($("#in-warehouse-select option:selected").val());
        }, 1500);
        {% endif %}
    })(page);
</script>
{% endblock %}